@using Application.Accounts;
@model ChangePasswordViewModel

<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="home.html">Home</a></li>
				<li class='active'>Change Password</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
	<div class="container">
		<div class="sign-in-page" style="margin: 0 auto; width: 50%; padding: 40px 40px">
			<div class="row">
				<!-- Sign-in -->
				<div class="sign-in">
					<h4 class="">Change your password</h4>
					<form action="/account/changepassword" method="post" class="register-form outer-top-xs" role="form">
						@Html.AntiForgeryToken()
						<div asp-validation-summary="All" class="text-danger"></div>
						<div class="form-group">
							<label asp-for="OldPassword" class="info-title" for="exampleInputPassword1">Current Password <span>*</span></label>
							<input asp-for="OldPassword" type="password" class="form-control unicase-form-control text-input" autocomplete="off" id="exampleInputPassword1">
							<span asp-validation-for="OldPassword" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="NewPassword" class="info-title" for="exampleInputPassword1">New Password <span>*</span></label>
							<input asp-for="NewPassword" type="password" class="form-control unicase-form-control text-input" autocomplete="off" id="exampleInputPassword1">
							<span asp-validation-for="NewPassword" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="ConfirmPassword" class="info-title" for="exampleInputPassword1">Old Password <span>*</span></label>
							<input asp-for="ConfirmPassword" type="password" class="form-control unicase-form-control text-input" autocomplete="off" id="exampleInputPassword1">
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</div>

						<button type="submit" class="btn-upper btn btn-primary checkout-page-button">Submit</button>

					</form>
				</div>
				<!-- Sign-in -->
			</div><!-- /.row -->
		</div><!-- /.sigin-in-->
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->
		<div id="brands-carousel" class="logo-slider wow fadeInUp">

			<div class="logo-slider-inner">
				<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
					<div class="item m-t-15">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item m-t-10">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand3.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand6.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->
				</div>
			</div>
		</div>
	</div>
</div>